p,p.intro{font:normal 0.9em sans-serif;color:#222; text-align:justify;padding-left:1%;padding-right:1%;}
p.chiedi{font:bold 1.2em sans-serif;color:#000; text-align:center;}
label{display:block;width:70%; float:left;font-size:0.95em;}
input{background-color:#ddd;height:3em;}
input {width:25%;height:2em;background-color:#ddd;}
h1{font:bold 1.6em sans-serif;color:#003400;text-align:center;}
fieldset{border:solid 1px #003400;}
.upper{line-height:1.8em;width:100%;background-color:#003400;text-decoration:none;text-align:center;}
.upper a, .upper a:hover, .upper a:visited{font-size:1.2em; color:#ffffff;}
.spiegazione{font:italic 0.8em sans-serif;color: #222;}
.introrichiedi{display:flex;display:-webkit-flex;display:-ms-flexbox;flex-direction:row;flex-align:center;margin-top:2em;width:100%;margin:0 auto;}
.introrichiedi ul{width:100%; margin-left:0}
.introrichiedi label{width:80%; margin-left:0}
.introrichiedi input{width:25%;height:2em;background-color:#ddd;}
.button{background-color:#006400; color:#fff; line-height:2.5em;margin-top:1em;width:100%; z-index:1000;box-shadow:0.5em 0.5em  0.25em #002400;}
#upper, #upper a{font-size:1.2em;color:#fff;line-height:1.8em;width:100%;background-color:#003400;text-decoration:none;text-align:center;}
#tricomponente{min-height:100%}
#tricomponente{min-height:100%;width:90%}   
#tricomponente h4{text-align:center;color:#003400;}
#travres{margin:0 auto;}
#sviluppogiunti{display:block;min-height:100%;}
.sceltares{width:100%;background-color:#006400;color:#fff;text-align:center;line-height:48px;}
#sceltaresine{width:100%;height:100%;display:flex;display:-webkit-flex;display:-ms-flexbox;flex-direction:row;margin:0 auto;}
#sceltaresine ul{display:block;margin:0 auto;}
#sceltaresine li{width:40%;list-style-type:none;float:left;margin-left:2%;margin-right:2%;box-shadow:6px 6px 3px #ddd;}
#sceltaresine img{max-width:100%;display:block;margin:0 auto;}
#sceltaresine a, #sceltaresine a:hover{display:block;color:#a80000; text-decoration:none;text-align:center;}
#risultatotricomponente{display:none; min-height:100%}
#richiestadati{margin-top:2em;width:100%;display:inline-block;}
#richiestadati ul{list-style-type:none; padding:0;}
#richiestadati li{min-height:2rem;display:inline-block;list-style-type:none;padding-bottom:1rem;padding-top:1rem;border-bottom:solid 1px #003400;width:100%;padding-left:0;}
#rapportitric{width:100%;}
#rapportitric ul{width:100%;display:flex;justify-content:space-around;margin-top:0;list-style-type:none;padding:0;}
#rapportitric li{width:30%;float:left;margin-top:0;margin-right:5%;list-style-type:none;}
#rapportitric input{width:100%}
#rapportitric img{max-width:100%}
#rapportibic{width:100%;margin-left:auto;margin-right:auto;}
#rapportibic ul{width:100%;display:flex;flex-direction:row;justify-content:center;list-style-type:none;padding:0;}
#rapportibic li{width:40%;float:left;margin-right:10%;list-style-type:none;text-align:center}
#rapportibic input{width:100%}
#rapportibic img{max-width:80%}
#menu-icon {font:bold 1.2em sans-serif;color:#ffffff;  display:block;  width:100%; line-height:2.5em;   margin:0 auto;  text-align:center; background-color:#006400;z-index:1000;box-shadow:0.7em 0.7em 0.30em #001400; }
#header ul {clear: both;position: absolute;top: 2.5em;width: 90%;z-index: 10000;padding: 5px;background: #222;border: solid 1px #999;	display: none;}
#header li{border:solid 1px #999;}
#header li, #header a, #header a:visited{font:normal 1em sans-serif; color:#fff;line-height:2.6em;text-decoration:none;width:100%;}
#header a:hover{color:#afafaf;}
#giunto img{max-width:90%;}
#content{width:98%; font:normal 1em sans-serif;color:#222;margin:0 auto;}
#bicomponente{min-height:100%;width:90%;margin:0 auto;}   
#bicomponente h4{text-align:center;color:#003400;}
.miscelaresine{max-width:95%;display:block;margin:10px auto;}
.richiestadati{margin-top:2em;width:100%;display:inline-block;}
.richiestadati ul{list-style-type:none; padding:0;}
.richiestadati li{min-height:2rem;display:inline-block;list-style-type:none;padding-bottom:1rem;padding-top:1rem;border-bottom:solid 1px #003400;width:100%;padding-left:0;}
.introresa{display:block; margin:20px auto;}
.introresa ul{width:80%;margin:0 auto;padding:0;}
.introresa li{list-style-type:none;padding-top:5px;padding-bottom:5px;}

body.index{width:100%;height;100%;background: linear-gradient(to top, #222 0%,#999 100%)}
#contentindex h1{margin-top:50px;color:#eee;width:98%;}
.indexresine{display:flex;display:-ms-flexbox;display:-webkit-flex;-ms-flex-flow:row wrap;-webkit-flex-flow:row wrap; flex-flow:row wrap;-ms-flex-justify-content:space-around;justify-content:space-around; align-content:space-between;align-items:stretch;}
#menuhome{width:100%;text-align:center;}
#menuhome img{max-width:75%;}
#menuhome ul{margin:0;padding:0;}
#menuhome li{list-style-type:none;float:left;}
    /*override the original menu styles*/


